.Home-Page{
    width: 100%;
    min-height: 91.5vh;
    max-height: auto;
}
.homeImg{
    width: 400px;
    height: 400px;
}

.viewBook{
    text-decoration: none;
}
.viewBook:hover {
    color: white;
}